# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
.env.*

# Database
db.sqlite3

# Media & Static
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.coverage
